@import "./resert.css";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400&display=swap');
html,body{
    position: relative;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: 4356px;
    background: #000000;
    flex: auto;
}
.main{
    position: absolute;
    
    
    width: 100%;
    max-width: 1600px;
    height: 4356px;
    
    background: url(./image/background.jpg);
    background-size: 1350px 4356px;
    backdrop-filter: blur(2px);
}
#scrollTop{
    position: fixed;
    bottom: 13%;
    left: 90%;
    z-index: 5;
}
.scroll{
    opacity: 0;
}
.scroll_to_top:hover{
    
    margin-bottom: 3px;
    
    filter:drop-shadow(0px 0px 3px #d65959);
    transition: 0.1s;
    }

.nav{
    position: fixed;
    top: 0%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    height: 8%;
    max-height: 95px;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
    background: #b8b6b6;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 5px solid #691b1b;
}

.left_head{
        align-items: center;
        display: flex;
}
.icon_h_w{
    height: 77px;
    width: 77px;
}
        .icon_menu{
            position: absolute;
            display: flex;
            align-items: center;
            left: 2%;
            width: 48px;
            height: 48px;
        }
        .icon_menu:hover{
            
            width: 46px;
            height: 46px;
            color: #691b1b;
            filter:drop-shadow(0px 0px 8px #724f4f);
            transition: 0.1s;
            }
        .nav_icon_menu{
            position: fixed;
            top: 8%;
            left: 0%;
            width: 235px;
            height: 458px;
            background: #000000;
            mix-blend-mode: normal;
            opacity: 0.9;
            border: 5px solid #691b1b;
            z-index: 5;
        }
        .disp{
            display: none;
        }
            .ul_icon_menu{
                padding: 15px;
                display: flex;
                flex-direction: column;
            }
            .nav_menu1{
                padding: 15px;
                padding-left: 40px;
            }
            .nav_menu{
                color: #626262;
                font-size: 32px;
            }
            .nav_menu:hover{
                font-size: 30px;
                color: #691b1b;
                transition: 0.3s;
                filter:drop-shadow(0px 0px 2px #8d0000);
            }
        .line1{
            margin-top: -32px;
            margin-left: 5px;
            width: 40px;
            height: 0px;
            mix-blend-mode: multiply;
            border: 2px solid #691b1b;
            transform: rotate(90deg);
            opacity: 0.75;
        }
        .logo{
            margin-top: -32px;
            margin-left: 15px;
            font-style: normal;
            font-size: 38px;
            line-height: 45px;
            color: rgba(0, 0, 0, 0.85);
        }
        a{
                        text-decoration: none;
                        list-style-type: none;
                        color: rgba(0, 0, 0, 0.85);
                        transition: all 0.3s;
        }
        .logo a:hover{
            font-size: 40px;
                color: #691b1b;
                transition: 0.2s;
                filter:drop-shadow(0px 0px 2px #8d0000);
            }
        a:active{
                        color: #8d0000;
        }
    .menu{
        display: flex;
        text-decoration: none;
        list-style-type: none;
    }
        .li_nav1{
            width: 83px;
            height: 36px;
        }
        .li_nav2{
            width: 66px;
            height: 36px;
        }
        .li_nav3{
            width: 132px;
            height: 36px;
        }
        .galery{
            margin-top: -15px;
            font-size: 34px;
            line-height: 36px;
            color: rgba(0, 0, 0, 0.85);
        }
        .galery a:hover{
            font-size: 32px;
            color: #691b1b;
            transition: 0.2s;
            filter:drop-shadow(0px 0px 2px #8d0000);
            }
        .line2{
            width: 40px;
            height: 0px;
            mix-blend-mode: multiply;
            border: 2px solid #691b1b;
            transform: rotate(90deg);
            opacity: 0.75;
        }
        .text{
            margin-top: -15px;
            font-size: 34px;
            line-height: 36px;
            color: rgba(0, 0, 0, 0.85);
        }
        .text a:hover{
            font-size: 32px;
            color: #691b1b;
            transition: 0.2s;
            filter:drop-shadow(0px 0px 2px #8d0000);
            }
        .line3{
            width: 40px;
            height: 0px;
            mix-blend-mode: multiply;
            border: 2px solid #691b1b;
            transform: rotate(90deg);
            opacity: 0.75;
        }
        
        .contact{
            margin-top: -15px;
            font-size: 34px;
            line-height: 36px;
            color: rgba(0, 0, 0, 0.85);
        }
        .contact a:hover{
            font-size: 36px;
            color: #691b1b;
            transition: 0.2s;
            filter:drop-shadow(0px 0px 2px #8d0000);
            }

.audio_main{
    position: absolute;
    top: 1.5%;
    padding: 32px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1044px;
    height: 369px;
    background: #b8b6b6;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 5px solid #691b1b;
}
    .icon_disc{
        width: 296px;
        height: 296px;
        background: #0F0E0E;
        border: 6px solid #691b1b;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #691b1b;
    }
        .img_album.active{
            animation: rotateAnimation 6s linear infinite;
        }
        
    
    .player_button{
        
        margin-top: 10px;
        width: 540px;
        height: 276px;
    }
        .name_track{
                        display: flex;
                        justify-content: space-between;
        }
        .name{
            
            width: 340px;
            height: 53px;
            font-size: 34px;
            line-height: 45px;
            display: flex;
            align-items: center;
            color: #0F0E0E;
        }
        .track{
            
            width: 340px;
            height: 25px;
            font-size: 26px;
            line-height: 27px;
            display: flex;
            align-items: center;
            color: #0F0E0E;
        }
        .name.active,
        .track.active{
            opacity: 0;
        }
        .playlist{
            margin-top: -88px;
            margin-left: -15px;
            
            width: 480px;
            height: 150px;
            text-decoration: none;
            list-style-type: none;
            text-align: justify;
        }
        .playlist.open{
            
            width: 480px;
            height: 150px;
            text-align: justify;
        }
        .playlist_tab.open{
            width: 480px;
            height: 150px;
            pointer-events: all;
            padding-top: 10px;
            padding-left: 28px;
            
            font-size: 28px;
            line-height: 27px;
            text-align: justify;
            opacity: 100;
            color: #0F0E0E;
            transition: 0.2s;
        }
        .playlist_tab{
            width: 480px;
            height: 150px;
            pointer-events: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 26px;
            line-height: 27px;
            opacity: 0;
            
            
        }
        .playlist_tab1,
        .playlist_tab2,
        .playlist_tab3{
            width: 480px;
            height: 20px;
            text-align: justify;
        }
        .playlist_track1,
        .playlist_track2,
        .playlist_track3{
            position: relative;
            cursor: pointer;
            width: 480px;
            height: 20px;
            z-index: 5;
        }
        .playlist_track1:hover,
        .playlist_track2:hover,
        .playlist_track3:hover{
            font-size: 26px;
            color: #8d0000;
            transition: 0.3s;
            filter:drop-shadow(0px 0px 30px #8d0000);
        }
        .playlist_track1.active,
        .playlist_track2.active,
        .playlist_track3.active{
            width: 480px;
            height: 20px;
            text-decoration-color: #691b1b;;
        }
        .menu_btn{
            
            display: block;
            width: 50px;
            height: 50px;
            transform: translateY(-12px);
            
        }
        .menu_transform1{
            
            width: 45px;
            height: 5px;
            background-color: #691b1b;
            transition: 0.2s;
        }
        .menu_transform2{
            
            width: 45px;
            height: 5px;
            background-color: #691b1b;
            transform: translateY(10px);
            transition: 0.1s;
        }
        .menu_transform3{
            
            width: 45px;
            height: 5px;
            background-color: #691b1b;
            transform: translateY(20px);
            transition: 0.2s;
        }
        .menu_btn.active .menu_transform2:nth-child(2){
            opacity: 0;
        }
        .menu_btn.active .menu_transform1:nth-child(1){
            transform: translateY(18px) rotate(-45deg);
        }
        .menu_btn.active .menu_transform3:nth-child(3){
            transform: translateY(8px) rotate(45deg);
        }
        
        .instruments{
                        display: flex;
                        flex-direction: column;
        }
        .control{
            
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .prev_play_next{
            display: flex;
            align-items: center;
        }
        .prev,
        .play,
        .next{
            color: #3E1515;
            cursor: pointer;
        }
        .mute_volume{
            cursor: pointer;
        }
        .volume_slider{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            margin-top: 28px;
            width: 120px;
            height: 10px;
            background-color: #0F0E0E;
            border: 4px solid #491A1A;
            border-radius: 20px;
        }
        input[type="range"]::-moz-range-thumb,
        .volume_slider::-webkit-slider-thumb{
            background-color: #0F0E0E;
            border: 4px solid #491A1A;
            border-radius: 50%;
            cursor: pointer;
        }
        
        .progress_conteiner{
            
            
            width: 540px;
            height: 16px;
                        background: #626262;
                        border: 4px solid #491A1A;
                        border-radius: 20px;
                        cursor: pointer;
        }
        
        .progress{ 
            
            height: 8px;
            background: #0F0E0E;
            border-radius: 20px;
            cursor: pointer;
        }
        .info_main{
                position: absolute;
                top: 10.35%;
                width: 100%;
                max-width: 1044px;
                height: 616px;
                background: #b8b6b6;
                mix-blend-mode: normal;
                opacity: 0.8;
                border: 5px solid #691b1b;
        }
                .info_head{
                    margin-top: 32px;
                    justify-content: center;
                    font-size: 48px;
                    line-height: 54px;
                    color: rgba(0, 0, 0, 0.85);
                    display: flex;
                    align-items: center;
                }
                .info_text{
                    padding-bottom: 10px;
                    margin-top: 100px;
                    margin-left: 42px;
                    margin-right: 43px;
                    display: flex;
                    align-items: center;
                    text-align: justify;
                    letter-spacing: -0.06em;
                    flex-wrap: wrap;
                }
                .info_text em{
                    font-size: 26px;
                    line-height: 35px;
                    color: #0F0E0E;
                    font-style: normal;
                }
                .info_text strong{
                    font-weight: 400;
                    font-size: 124px;
                    line-height: 145px;
                    color: #3E1515;
                    line-height: 10px;
                }
            .galery_main{
                position: absolute;
                top: 24.9%;
                width: 100%;
                max-width: 1044px;
                height: 818px;
                background: hsla(0, 2%, 67%, 0.8);
                mix-blend-mode: normal;
                border: 5px solid #691b1b;
            }
                .galery_head{
                    margin-top: 32px;
                    justify-content: center;
                    font-style: normal;
                    font-size: 48px;
                    line-height: 54px;
                    display: flex;
                    align-items: center;
                    color: rgba(0, 0, 0, 0.85);
                }
                .galery_container{
                    display: flex;
                    
                    justify-content: center;
                    margin-top: 12px;
                    opacity: 1.0;
                }
                .fotorama__thumb-border{
                    border-color: #691b1b;
                }
                
            .versus_main{
                position: absolute;
                top: 44.1%;
                width: 100%;
                max-width: 1044px;
                height: 2040px;
                background: hsla(0, 2%, 67%, 0.8);
                mix-blend-mode: normal;
                
                border: 5px solid #691b1b;
            }
                .versus_head{
                    position: relative;
                    max-width: 350px;
                    top: 32px;
                    left: 480px;
                    font-size: 48px;
                }
                .text_head{
                    max-width: 350px;
                    font-size: 48px;
                    line-height: 54px;
                    color: #000000;
                }
                .versus_container{
                    position: relative;
                    top: 90px;
                    left: 190px;
                }
                .text_text1,
                .text_text2,
                .text_text3{
                    position: relative;
                    
                    max-width: 660px;
                    height: 1697px;
                    background: #c2c2c2;
                    mix-blend-mode: normal;
                    opacity: 1.0;
                    border: 5px solid #691b1b;
                }
                .next_versus{
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -15%;
                }
                .prev_versus{
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -100px
                }
                .next_versus :hover,
                .prev_versus :hover{
                    
                    padding: 2px;
                    transition: 200ms;
                }
                .slick-list,
                .draggable{
                    height: 1697px;
                    width: 660px;
                }
                .versus_container,
                .lick-initialized,
                .slick-slider{
                    width: 660px;
                    height: 1697px;
                }
                
                .slick-dots{
                    position: absolute;
                    display: flex;
                    
                    
                    bottom: -4%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .slick-dots li{
                    display: inline-block;
                    margin: 0px 50px;
                }
                .slick-dots li :hover{
                    background: #4C4B4B;
                    filter:drop-shadow(0px 0px 30px #8d0000);
                    transition: 100ms;
                }
                .slick-dots li button{
                    font-size: 0px;
                    background: #0F0E0E;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: none;
                    transition: 200ms;
                }
                .slick-dots .slick-active button{
                    background-color: #3E1515;
                    width: 25px;
                    height: 25px;
                }
                    .verse_head{
                        margin-top: 35px;
                        justify-content: center;
                        font-style: normal;
                        font-size: 40px;
                        line-height: 45px;
                        display: flex;
                        align-items: center;
                        color: #000000;
                    }
                    .verse_text{
                        margin-top: 200px;
                        margin-left: 127px;
                        margin-right: 127px;
                        font-style: normal;
                        font-size: 28px;
                        line-height: 41px;
                        text-align: center;
                        text-decoration: none;
                        list-style-type: none;
                        color: rgb(0, 0, 0);
                    }
            .contact_main{
                position: absolute;
                top: 91.5%;
                width: 100%;
                max-width: 1363px;
                height: 380px;
                background: #000000;
                mix-blend-mode: normal;
                opacity: 0.98;
                border: 5px solid #691b1b;
            }
                .contact_head{
                    margin-top: 3%;
                    
                    font-size: 48px;
                    line-height: 54px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #691b1b;
                }
                .contact_content{
                    display: flex;
                    justify-content: space-between;
                }
                .contact_menu{
                    position: absolute;
                    top: 30%;
                    left: 15%;
                    font-size: 20px;
                }
                    .contact_menu_li{
                        color: #626262;
                    }
                    .contact_menu li :hover{
                        font-size: 18px;
                        filter:drop-shadow(0px 0px 30px #8d0000);
                    } 
                .contact_address{
                    margin-top: 15%;
                    margin-right: 150px;
                    font-size: 20px;
                }
                    .contact_address_li{
                        width: 250px;
                        color: #626262;
                    }
                    .contact_address li :hover{
                        font-size: 18px;
                        filter:drop-shadow(0px 0px 30px #8d0000);
                    } 
                .contact_icon_seo{
                    margin-top: 5%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                    .contact_icon{
                        display: flex;
                    }
                        .contact_icon_li{
                            padding: 11px;
                        }
                        .contact_icon_li1:hover{
                            filter:drop-shadow(0px 0px 5px #FF00C7);
                            transition: 0.2s;
                        }
                        .contact_icon_li2:hover{
                            filter:drop-shadow(0px 0px 5px #ff6600);
                            transition: 0.2s;
                        }
                        .contact_icon_li3:hover{
                            filter:drop-shadow(0px 0px 5px #0059ff);
                            transition: 0.2s;
                        }
                        .contact_icon_li4:hover{
                            filter:drop-shadow(0px 0px 5px #00ff55);
                            transition: 0.2s;
                        }
                        .end{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: -5px;
                        }
                        .copyright{
                            height: 17px;
                            width: 17px;
                        }
                        .copyright1{
                            padding: 5px;
                        }
                        .seo{
                            font-style: normal;
                            font-size: 20px;
                            
                            color: #691b1b;
                        }
                        .cirkle{
                            
                            color: #691b1b;
                        }

@keyframes rotateAnimation{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width: 780px){
    html,body{
        width: 100%;
        height: 3900px;
    }
    .main{
        position: absolute;
        
        width: 780px;
        height: 4050px;
        background: url(./image/background.jpg);
        background-size: 780px 2100px;
    }
    #scrollTop{
        
        
        left: 88%;
        
    }
    .nav{
        width: 100%;
        height: 50px;
        border: 2px solid #691b1b;
        display: flex;
        justify-content: space-between;
    }
    .icon_menu{
        width: 40px;
        height: 40px;
        margin-top: 0.5%;
        margin-left: 1%;
    }
    .icon_menu:hover{
            margin-top: 1%;
            margin-left: 3%;
            width: 40px;
            height: 40px;
            color: #691b1b;
            
            transition: 0.1s;
            }
    .logo{
        position: absolute;
        font-size: 30px;
        
        left: 43%;
    }
    .logo a:hover{
            font-size: 30px;
            color: #691b1b;
            transition: 0.2s;
            filter:drop-shadow(0px 0px 2px #8d0000);
            }
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }
    .line3{
        display: none;
    }
    .galery{
        display: none;
    }
    .text{
        display: none;
    }
    .contact{
        display: none;
    }
    .nav_icon_menu{
        top: 50px;
        width: 170px;
        height: 300px;
        border: 2px solid #691b1b;
    }
    .nav_menu{
        font-size: 20px;
    }
    .nav_menu1{
        padding: 9px;
    }
    .audio_main{
        top: 1.6%;
        width: 600px;
        
    }
    .icon_disc{
        position: absolute;
        width: 200px;
        height: 200px;
        top: 8%;
        left: 5%;
        border: 3px solid #691b1b;
    }
    .icon_disc.active{
        
        transition: 0.2s;
    }
    .img_album{
        position: absolute;
        width: 200px;
        height: 200px;
        
    }
    .player_button{
        position: absolute;
        top: 60%;
        left: 45%;
        width: 200px;
        height: 100px;
    }
    .name{
        position: absolute;
        width: 200px;
        font-size: 22px;
        top: -210%;
        left: -5%;
    }
    .track{
        position: absolute;
        width: 200px;
        font-size: 20px;
        top: -160%;
        left: -5%;
    }
    .playlist{
        position: absolute;
        width: 270px;
        height: 100px;
        top: -85px;
        left: 10px;
        
    }
    .playlist.open{
        position: absolute;
        width: 270px;
        height: 100px;
        top: -85px;
        left: 10px;
    }
    .playlist_tab1,
    .playlist_tab2,
    .playlist_tab3{
        width: 200px;
    }
    .playlist_track1:hover,
    .playlist_track2:hover,
    .playlist_track3:hover{
            font-size: 22px;
            color: #8d0000;
            transition: 0.3s;
            filter:drop-shadow(0px 0px 30px #8d0000);
        }
    .menu_btn{
        position: absolute;
        width: 20px;
        height: 20px;
        top: -190px;
        left: 130%;
    }
    .menu_transform1{
        width: 20px;
        height: 2px;
    }
    .menu_transform2{
        width: 20px;
        height: 2px;
        transform: translateY(5px);
    }
    .menu_transform3{
        width: 20px;
        height: 2px;
        transform: translateY(10px);
    }
    .menu_btn.active .menu_transform1:nth-child(1){
        transform: translateY(10px) rotate(-45deg);
    }
    .menu_btn.active .menu_transform3:nth-child(3){
        transform: translateY(6px) rotate(45deg);
    }
    .playlist_tab.open{
        width: 270px;
        height: 100px;
        
        font-size: 20px;
    }
    .playlist_tab{
        width: 270px;
        height: 100px;
        
        font-size: 20px;
    }
    .mute_volume,
    .volume_slider,
    .input{
        display: none;
    }
    .instruments{
        position: absolute;
        top: 30px;
        left: -130px;

    }
    .prev_play_next{
        width: 150px;
        margin-left: 25%;
    }
    .progress_conteiner{
        width: 300px;
        height: 10px;
        border: 2px solid #491A1A;
    }
    .progress{
        height: 6px;
        left: -1px;
    }

.info_main{
    top: 11.5%;
    width: 600px;
    height: 530px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info_head{
    margin-top: 20px;
    font-size: 26px;
}
.info_text{
    
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.info_text em{
    font-size: 20px;
}
.info_text strong{
    font-size: 50px;
}
.galery_main{
    top: 25.5%;
    width: 600px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.galery_head{
    margin-top: 20px;
    font-size: 26px;
}
.galery_container{
    margin-top: 5px;
    margin-left: 1%;
    width: 98%;
}
.fotorama__video-close::after{
    margin-left: -50px;
}
.versus_main{
    top: 46.5%;
    width: 600px;
    height: 1700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.versus_head{
    top: 20px;
    left: 43%;
    width: 200px;
    font-size: 24px;
}
.text_text1,
.text_text2,
.text_text3{
    width: 95%;
    height: 1500px;
}
.text_head{
    width: 100px;
    font-size: 24px;
    margin-left: 20px;
    color: #000000;
}
.versus_container{
    position: relative;
    top: 35px;
    left: 30px;
}
.next_versus{
    top: -6%;
    left: 87%;
    width: 15px;
    height: 15px;
}
.prev_versus{
    top: -6%;
    left: 5%;
    width: 15px;
    height: 15px;
}
.slick-dots li button{
    width: 10px;
    height: 10px;
}
.slick-dots .slick-active button {
    width: 15px;
    height: 15px;
}
.slick-list,
.draggable{
    height: 812px;
    width: 95%;
}
.versus_container,
                .lick-initialized,
                .slick-slider{
                    height: 812px;
    width: 95%;
}
.verse_head{
    font-size: 22px;
}
.verse_text{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.slick-dots{
    top: 1520px;
    left: 48%;
}

.contact_main{
    top: 90.6%;
    height: 440px;
}
.contact_head{
    font-size: 24px;
}
.contact_content{
    margin-top: 35px;
}
.contact_ul1{
    width: 300px;
}

.contact_menu_li{
    padding: 30px;
}
.contact_ul2{
    width: 300px;
    margin-top: -4%;
    margin-left: 60%;
}
.contact_icon_seo{
    margin-top: 15%;
    
}
}
@media (max-width: 620px){
    html,body{
        width: 100%;
        height: 3900px;
    }
    .main{
        position: absolute;
        
        width: 620px;
        height: 4050px;
        background: url(./image/background.jpg);
        background-size: 620px 2100px;
    }
    #scrollTop{
        
        
        left: 88%;
        
    }
    .nav{
        width: 100%;
        height: 50px;
        border: 2px solid #691b1b;
        display: flex;
        justify-content: space-between;
    }
    .icon_menu{
        width: 40px;
        height: 40px;
        margin-top: 0.5%;
        margin-left: 1%;
    }
    .icon_menu:hover{
            margin-top: 1%;
            margin-left: 3%;
            width: 40px;
            height: 40px;
            color: #691b1b;
            
            transition: 0.1s;
            }
    .logo{
        position: absolute;
        font-size: 30px;
        
        left: 43%;
    }
    .logo a:hover{
            font-size: 30px;
            color: #691b1b;
            transition: 0.2s;
            filter:drop-shadow(0px 0px 2px #8d0000);
            }
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }
    .line3{
        display: none;
    }
    .galery{
        display: none;
    }
    .text{
        display: none;
    }
    .contact{
        display: none;
    }
    .nav_icon_menu{
        top: 50px;
        width: 170px;
        height: 300px;
        border: 2px solid #691b1b;
    }
    .nav_menu{
        font-size: 20px;
    }
    .nav_menu1{
        padding: 9px;
    }
    .audio_main{
        top: 1.6%;
        width: 420px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icon_disc{
        position: absolute;
        width: 200px;
        height: 200px;
        top: 5%;
        left: 24%;
        border: 3px solid #691b1b;
    }
    .icon_disc.active{
        opacity: 0;
        transition: 0.2s;
    }
    .img_album{
        position: absolute;
        width: 200px;
        height: 200px;
        margin: 100px;
    }
    .player_button{
        position: absolute;
        top: 60%;
        left: 45%;
        width: 200px;
        height: 100px;
    }
    .name{
        position: absolute;
        width: 200px;
        font-size: 20px;
        top: -15px;
        left: -4px;
    }
    .track{
        position: absolute;
        width: 200px;
        font-size: 18px;
        top: 20px;
        left: 1px;
    }
    .playlist{
        position: absolute;
        width: 270px;
        height: 100px;
        top: -85px;
        left: -75px;
        
    }
    .playlist.open{
        position: absolute;
        width: 270px;
        height: 100px;
        top: -85px;
        left: -75px;
    }
    .playlist_tab1,
    .playlist_tab2,
    .playlist_tab3{
        width: 200px;
    }
    .playlist_track1:hover,
    .playlist_track2:hover,
    .playlist_track3:hover{
            font-size: 20px;
            color: #8d0000;
            transition: 0.3s;
            filter:drop-shadow(0px 0px 30px #8d0000);
        }
    .menu_btn{
        position: absolute;
        width: 20px;
        height: 20px;
        top: -202px;
        left: 180px;
    }
    .menu_transform1{
        width: 20px;
        height: 2px;
    }
    .menu_transform2{
        width: 20px;
        height: 2px;
        transform: translateY(5px);
    }
    .menu_transform3{
        width: 20px;
        height: 2px;
        transform: translateY(10px);
    }
    .menu_btn.active .menu_transform1:nth-child(1){
        transform: translateY(10px) rotate(-45deg);
    }
    .menu_btn.active .menu_transform3:nth-child(3){
        transform: translateY(6px) rotate(45deg);
    }
    .playlist_tab.open{
        width: 270px;
        height: 100px;
        
        font-size: 20px;
    }
    .playlist_tab{
        width: 270px;
        height: 100px;
        
        font-size: 20px;
    }
    .mute_volume,
    .volume_slider,
    .input{
        display: none;
    }
    .instruments{
        position: absolute;
        top: 30px;
        left: -130px;

    }
    .prev_play_next{
        width: 150px;
        margin-left: 25%;
    }
    .progress_conteiner{
        width: 300px;
        height: 10px;
        border: 2px solid #491A1A;
    }
    .progress{
        height: 6px;
        left: -1px;
    }

.info_main{
    top: 11.5%;
    width: 420px;
    height: 530px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info_head{
    margin-top: 20px;
    font-size: 26px;
}
.info_text{
    
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.info_text em{
    font-size: 20px;
}
.info_text strong{
    font-size: 50px;
}
.galery_main{
    top: 25.5%;
    width: 420px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.galery_head{
    margin-top: 20px;
    font-size: 26px;
}
.galery_container{
    margin-top: 5px;
    margin-left: 1%;
    width: 98%;
}
.fotorama__video-close::after{
    margin-left: -50px;
}
.versus_main{
    top: 46.5%;
    width: 420px;
    height: 1700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.versus_head{
    top: 20px;
    left: 40%;
    width: 200px;
    font-size: 24px;
}
.text_text1,
.text_text2,
.text_text3{
    width: 95%;
    height: 1500px;
}
.text_head{
    width: 100px;
    font-size: 24px;
    margin-left: 20px;
    color: #000000;
}
.versus_container{
    position: relative;
    top: 35px;
    left: 20px;
}
.next_versus{
    top: -6%;
    left: 87%;
    width: 15px;
    height: 15px;
}
.prev_versus{
    top: -6%;
    left: 5%;
    width: 15px;
    height: 15px;
}
.slick-dots li button{
    width: 10px;
    height: 10px;
}
.slick-dots .slick-active button {
    width: 15px;
    height: 15px;
}
.slick-list,
.draggable{
    height: 812px;
    width: 95%;
}
.versus_container,
                .lick-initialized,
                .slick-slider{
                    height: 812px;
    width: 95%;
}
.verse_head{
    font-size: 22px;
}
.verse_text{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.slick-dots{
    top: 1520px;
    left: 48%;
}

.contact_main{
    top: 90.6%;
    height: 440px;
}
.contact_head{
    font-size: 24px;
}
.contact_content{
    margin-top: 35px;
}
.contact_ul1{
    width: 300px;
}

.contact_menu_li{
    padding: 30px;
}
.contact_ul2{
    width: 250px;
    margin-top: -4%;
    margin-left: 60%;
}
.contact_icon_seo{
    margin-top: 15%;
    
}
}
@media (max-width: 450px){
    html,body{
        width: 100%;
        height: 3900px;
    }
    .main{
        position: absolute;
        
        width: 375px;
        height: 3900px;
        background: url(./image/background.jpg);
        background-size: 375px 1300px;
    }
    #scrollTop{
        
        
        left: 88%;
        
    }
    .nav{
        width: 100%;
        height: 50px;
        border: 2px solid #691b1b;
        display: flex;
        justify-content: space-between;
    }
    .icon_menu{
        width: 40px;
        height: 40px;
        margin-top: 1%;
        margin-left: 3%;
    }
    .icon_menu:hover{
            margin-top: 1%;
            margin-left: 3%;
            width: 40px;
            height: 40px;
            color: #691b1b;
            filter:drop-shadow(0px 0px 8px #724f4f);
            transition: 0.1s;
            }
    .logo{
        position: absolute;
        font-size: 30px;
        
        left: 40%;
    }
    .logo a:hover{
            font-size: 30px;
            color: #691b1b;
            transition: 0.2s;
            filter:drop-shadow(0px 0px 2px #8d0000);
            }
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }
    .line3{
        display: none;
    }
    .galery{
        display: none;
    }
    .text{
        display: none;
    }
    .contact{
        display: none;
    }
    .nav_icon_menu{
        top: 50px;
        width: 170px;
        height: 300px;
        border: 2px solid #691b1b;
    }
    .nav_menu{
        font-size: 20px;
    }
    .nav_menu1{
        padding: 9px;
    }
    .audio_main{
        top: 1.6%;
        width: 350px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icon_disc{
        position: absolute;
        width: 200px;
        height: 200px;
        top: 5%;
        left: 20%;
        border: 3px solid #691b1b;
    }
    .icon_disc.active{
        opacity: 0;
        transition: 0.2s;
    }
    .img_album{
        position: absolute;
        width: 200px;
        height: 200px;
        margin: 100px;
    }
    .player_button{
        position: absolute;
        top: 60%;
        left: 45%;
        width: 200px;
        height: 100px;
    }
    .name{
        position: absolute;
        width: 200px;
        font-size: 20px;
        left: -4px;
    }
    .track{
        position: absolute;
        width: 200px;
        font-size: 18px;
        
    }
    .playlist{
        position: absolute;
        width: 270px;
        height: 100px;
        top: -85px;
        left: -75px;
        
    }
    .playlist.open{
        position: absolute;
        width: 270px;
        height: 100px;
        top: -85px;
        left: -75px;
    }
    .playlist_tab1,
    .playlist_tab2,
    .playlist_tab3{
        width: 200px;
    }
    .playlist_track1:hover,
    .playlist_track2:hover,
    .playlist_track3:hover{
            font-size: 20px;
            color: #8d0000;
            transition: 0.3s;
            filter:drop-shadow(0px 0px 30px #8d0000);
        }
    .menu_btn{
        position: absolute;
        width: 20px;
        height: 20px;
        top: -200px;
        left: 150px;
    }
    .menu_transform1{
        width: 20px;
        height: 2px;
    }
    .menu_transform2{
        width: 20px;
        height: 2px;
        transform: translateY(5px);
    }
    .menu_transform3{
        width: 20px;
        height: 2px;
        transform: translateY(10px);
    }
    .menu_btn.active .menu_transform1:nth-child(1){
        transform: translateY(10px) rotate(-45deg);
    }
    .menu_btn.active .menu_transform3:nth-child(3){
        transform: translateY(6px) rotate(45deg);
    }
    .playlist_tab.open{
        width: 270px;
        height: 100px;
        
        font-size: 20px;
    }
    .playlist_tab{
        width: 270px;
        height: 100px;
        
        font-size: 20px;
    }
    .mute_volume,
    .volume_slider,
    .input{
        display: none;
    }
    .instruments{
        position: absolute;
        top: 30px;
        left: -130px;

    }
    .prev_play_next{
        width: 150px;
        margin-left: 25%;
    }
    .progress_conteiner{
        width: 300px;
        height: 10px;
        border: 2px solid #491A1A;
    }
    .progress{
        height: 6px;
        left: -1px;
    }

.info_main{
    top: 11.5%;
    width: 350px;
    height: 530px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info_head{
    margin-top: 20px;
    font-size: 24px;
}
.info_text{
    
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.info_text em{
    font-size: 18px;
}
.info_text strong{
    font-size: 50px;
}
.galery_main{
    top: 25.5%;
    width: 350px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.galery_head{
    margin-top: 20px;
    font-size: 24px;
}
.galery_container{
    margin-top: 5px;
    margin-left: 1%;
    width: 98%;
}
.fotorama__video-close::after{
    margin-left: -50px;
}
.versus_main{
    top: 46.5%;
    width: 350px;
    height: 1700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.versus_head{
    top: 20px;
    left: 38%;
    width: 200px;
    font-size: 24px;
}
.text_text1,
.text_text2,
.text_text3{
    width: 95%;
    height: 1500px;
}
.text_head{
    width: 100px;
    font-size: 24px;
    margin-left: 20px;
    color: #000000;
}
.versus_container{
    position: relative;
    top: 35px;
    left: 16px;
}
.next_versus{
    top: -6%;
    left: 87%;
    width: 15px;
    height: 15px;
}
.prev_versus{
    top: -6%;
    left: 2%;
    width: 15px;
    height: 15px;
}
.slick-dots li button{
    width: 5px;
    height: 5px;
}
.slick-dots .slick-active button {
    width: 10px;
    height: 10px;
}
.slick-list,
.draggable{
    height: 812px;
    width: 95%;
}
.versus_container,
                .lick-initialized,
                .slick-slider{
                    height: 812px;
    width: 95%;
}
.verse_head{
    font-size: 20px;
}
.verse_text{
    font-size: 18px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.slick-dots{
    top: 1520px;
    left: 155px;
}

.contact_main{
    top: 90.6%;
    height: 375px;
}
.contact_head{
    font-size: 24px;
}
.contact_content{
    margin-top: 35px;
}
.contact_ul1{
    width: 300px;
}
.contact_menu{
    left: 0%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact_menu_li{
    padding: 30px;
}
.contact_ul2{
    display: none;
}
.contact_icon_seo{
    margin-top: 40%;
    
}
}
